body{
 margin: 0;   
 text-align: center;
 color: #000000;
 font-family: 'Cormorant Upright', serif;
 font-family: 'Fleur De Leah', cursive;
 font-family: 'Taviraj', serif;
 
}
.btn{
    padding: 6px 12px;
    background: rgb(255, 255, 255);
    border: 1px solid #f6cadc;
    font-family: inherit;
    color: #000000;
    font-weight: bold;
}
.wow{
    color:#f6cadc;
    
}
#logo{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
#hero{
 background-image: url("image/fleur.avif");
 background-size: cover;
 padding: 10px 0 40px 0;
}
.ter{
    text-align: center;
}